body{
    background: #13499e;
    color:white;
    padding-top:96px;
    font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
    color:white;
}
.container {
    width:100%;
    max-width:1140px;
    margin:auto;
}

.heading--page-title {
    padding-top:12px;
    border-top:4px solid white;
    width:max-content;
}

.sponsors-page {
    p {
        text-align:center;
        line-height:1.45;
    }
    
    .heading--page-title {
        margin-bottom:96px;
    }

    .heading--orange::before {
        content: "";
        height: 60px;
        width: 60px;
        position: absolute;
        background: #95446b;
        border-radius: 50%;
        opacity: .7;
        transform: translate3d(-61%,-50%,0);
        z-index: -1;
    }
}

.sponsors-body {
    max-width: 90%;
    margin: auto;
    margin-bottom:96px;
}

.orange-link {
    color:#f08751;
    font-weight: 600;
    letter-spacing: 0.05rem;
    transition: all .25s ease-in-out;
    border-bottom: 1px solid #f16e2b;
    text-decoration:unset;

    &:hover {
        color: #f16e2b;
        border-bottom: 1px solid #f16e2b;
    }
}

.heading--orange {
    text-align: center;
    color: #f89e1c;
    font-size:2rem;
}

.all-modals-container {
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    width:100%;
    justify-content:center;

    .modal-button {
        background: #292654;
        border:unset;
        margin:10px;
        height:200px;
        width:200px;
        cursor:pointer;
        transition: transform .25s ease-in-out;
        display:flex;
        align-items:center;
        justify-content:center;

        img {
            width:84%;
            margin-bottom:unset;
        }

        &:hover{
            transform:scale(1.05);
        
        }
    }
}
.modal-container {
    position:absolute;
    visibility: hidden;
    background:unset;

}
.modal-container.visible {
    visibility:visible;
    display:flex;
    justify-content:center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background: rgba(0,0,0,.75);
}

.modal-content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 48px;
    background: #13499e;
    border-radius: 5px;
    opacity: 0;
    transform: scale(1.1);
    transition: transform .35s ease-in-out,opacity .35s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    img {
        width:200px;
        height:200px;
        object-fit:contain;
    }
}
.modal-container.visible .modal-content{
    opacity: 1;
    transform: scale(1);
}
.modal-close {
    position:relative;
    display:flex;
    align-self:flex-end;
    background:unset;
    border:unset;
    cursor:pointer;
    padding:15px;
    margin-bottom:15px;
    &::before{
        right:0;
        position:absolute;
        content:"";
        border-top:2px solid white;
        width:30px;
        transform:rotate(45deg);
    }
    &::after{
        right:0;
        position:absolute;
        content:"";
        border-top:2px solid white;
        width:30px;
        transform:rotate(-45deg);
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .container {
        padding-right:24px;
        padding-left:24px;
    }
    .sponsors-page {
        .heading--page-title {
            margin-bottom:48px;
        }
    }
    .modal-content {
        max-height:100%;
        margin-top:unset;
        margin-bottom:unset;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }